@model RedyFitness.Dto.AccountCreation
@{
    ViewBag.Title = "CreateAccount";
}

<h2>Create New Account</h2>

<h4>Username</h4>
<div class=" form-group-sm">
    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
</div><br />

<h4>Password</h4>
<div class="form-group-sm">
    @Html.PasswordFor(x => x.UserPass, new { @class = "form-control" })<br />
</div>
<h4>Confirm your Password</h4>
<div class="form-group-sm">
    @Html.PasswordFor(x => x.UserPass, new { @class = "form-control" })<br />
</div>
<h4>Email</h4>
<div class=" form-group-sm">
    @Html.TextBoxFor(x => x.UserEmail, new { @class = "form-control" })
</div><br />

<h4>Date of birth</h4>
<div class="form-group-sm">
    @Html.TextBoxFor(x => x.DateOfBirth, new { @class = "form-control" })<br />
</div>

<h4>Gender</h4>
<div class=" form-group-sm">
    @Html.TextBoxFor(x => x.UserGender, new { @class = "form-control" })
</div><br />

<h4>Body weight</h4>
<div class="form-group-sm">
    @Html.TextBoxFor(x => x.UserWeight, new { @class = "form-control" })<br />
</div>
<div class="text-capitalize">
    <input class="btn-lg btn-primary  " type="submit" value="Create your account!" />
    </div>

